[init]
    defaultBranch = main

[user]
    name = Andreas Palm

[include]
    path = ~/.config/git/config_base

[includeIf "gitdir:~/R/"]
    path = ~/.config/git/config_work

[includeIf "gitdir:~/R/mpk"]
    path = ~/.config/git/config_work_mpk

[core]
    excludesfile = ~/.config/git/gitignore_global

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[pull]
    rebase = true

# https://git-scm.com/docs/git-rebase#Documentation/git-rebase.txt---autosquash
[rebase]
    autoStash = true
    autoSquash = true

[diff]
    wsErrorHighlight = all

[url "ssh://git@github.com/zapling"]
    insteadof = https://github.com/zapling

[url "ssh://git@github.com/ertia-io"]
    insteadof = https://github.com/ertia-io

[url "ssh://git@github.com/dinafastighetergo"]
    insteadof = https://github.com/dinafastighetergo
