[init]
    defaultBranch = main

[user]
    name = Andreas Palm

[include]
    path = ~/.config/git/config_base

[includeIf "gitdir:~/R/"]
    path = ~/.config/git/config_work

[includeIf "gitdir:~/R/mpk"]
    path = ~/.config/git/config_work_mpk

[core]
    excludesfile = ~/.config/git/gitignore_global

[pull]
    rebase = true

# https://git-scm.com/docs/git-rebase#Documentation/git-rebase.txt---autosquash
[rebase]
    autoStash = true
    autoSquash = true

[diff]
    wsErrorHighlight = all
